
.input {
  width: 96px;
  height: 80px;
  font-size: 40px;

  @apply border border-input rounded-md border-[#cdcdcd] outline-none text-center p-1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.ampm {
  width: 52px;
  height: 40px;

  @apply border border-input rounded-md border-[#cdcdcd] outline-none text-center p-1;
}

.clockpickerGroup {
  margin: 20px auto;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
}
