
.input {
  width: 96px;
  height: 80px;
  font-size: 40px;
  @apply border border-input rounded-md border-[#cdcdcd] outline-none text-center p-1;
}

.input::selection {
  @apply text-inherit bg-transparent
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  @apply m-0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.ampm {
  width: 52px;
  height: 40px;
  @apply border border-input rounded-md border-[#cdcdcd] outline-none text-center p-1;
}

.clockpickerGroup {
  margin: 20px auto;
  border: 1px solid #c6c6c6;
  @apply rounded-full;
}


.MuiClockClock {
  flex-shrink: 0;
  width: 220px;
  height: 220px;
  pointer-events: none;
  @apply relative rounded-full bg-primary/10;
}

.MuiClockSquareMask {
  pointer-events: auto;
  touch-action: none;
  user-select: none;
  @apply absolute w-full h-full rounded-full outline-0;
}

.MuiClockPin {
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  @apply absolute top-1/2 left-1/2 rounded-full bg-primary;
}

.MuiClockPointerRoot {
  width: 2px;
  left: calc(50% - 1px);
  transform-origin: center bottom 0;
  @apply absolute bottom-1/2 bg-primary;
}

.MuiClockPointerThumb {
  width: 4px;
  height: 4px;
  top: -21px;
  left: calc(50% - 18px);
  border: 16px solid #1976d2;
  box-sizing: content-box;
  @apply absolute rounded-full bg-primary border-primary;
}

.MuiClockNumber {
  height: 36px;
  width: 36px;
  left: calc((100% - 36px) / 2);
  @apply absolute inline-flex justify-center items-center rounded-full;
}
